body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f1357a;
    color: white;
    margin: auto;
}

img{ max-width: 100%;}

/*navigation*/
nav ul {
    list-style-type: none;
    padding: 0;}

nav li{ margin-top: 1rem;}

/*les vagues en dessous des link*/
a{color: inherit;}

a{
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-decoration-color: #260f4f;
    text-decoration-skip-ink: none;
    text-underline-offset: 0.25em;
}

a:hover{background: #260f4f;color: rgb(255, 255, 255);}

/* gallery */
.gallery{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
        auto-fill, 
        minmax(
            min(15rem, 100%), 1fr
        )
    );
}

.gallery a {
    position: relative;
}

.gallery a .description{
    display: none;
    position: absolute; bottom: 0ss;
}

.gallery a:hover .description{
    display: block;
}
